Repository microsoft/qsharp-compiler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @samarsha, @cesarzc, @swernli, @bettinaheim, @ScottCarda-MS

Fix xml doc (#1571)
  src/QsCompiler/CompilationManager/CompilationUnitManager.cs
  src/QsCompiler/CompilationManager/TypeChecking.cs
  src/QsCompiler/QirGeneration/QIR/DataStructures.cs
Owners: @samarsha, @cesarzc, @swernli, @bettinaheim

Add `$schema` to `cgmanifest.json` (#1549)
  src/QsCompiler/RoslynWrapper/cgmanifest.json
Owners: @swernli, @bettinaheim

Change decomposition package for IonQ depending on whether QIR generation is enabled (#1598)
  src/QuantumSdk/DefaultItems/DefaultItems.targets
Owners: @swernli, @bettinaheim

UPgraded "Microsoft.Quantum.Sdk" to 0.27.24470 for src\QsCompiler\TestProjects/test15/test15.csproj.
  src/QsCompiler/TestProjects/test15/test15.csproj
Owners: @samarsha, @swernli

Removed unused src\QsCompiler\TestProjects\test10\Driver.cs.
  src/QsCompiler/TestProjects/test10/Driver.cs
Owners: @samarsha, @swernli

Upgraded src/QsCompiler/TestProjects/test11/test11.csproj.
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/Tests.LanguageServer/ProjectLoaderTests.cs
Owners: @samarsha, @swernli

Updated Microsoft.NET.Test.Sdk, xunit.runner.visualstudio everywhere else.
  src/Documentation/Tests.DocGenerator/Tests.DocGenerator.csproj
  src/ProjectTemplates/Quantum.Test1/Quantum.Test1.csproj.v.template
  src/QsCompiler/Tests.CSharpGeneration/Tests.CSharpGeneration.fsproj
  src/QsCompiler/Tests.Compiler/Tests.Compiler.fsproj
  src/QsCompiler/Tests.LanguageServer/Tests.LanguageServer.csproj
  src/QsCompiler/Tests.RoslynWrapper/Tests.RoslynWrapper.fsproj
  src/QsFmt/App.Tests/App.Tests.fsproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QsFmt/Formatter.Tests/Formatter.Tests.fsproj
  src/VSCodeExtension/templates/unittest/Test.csproj.v.template
  src/VisualStudioExtension/QSharpTestTemplate/TestProjectTemplate.xml.v.template
Owners: @swernli, @bettinaheim, @samarsha, @cesarzc, @ScottCarda-MS

Upgraded Microsoft.NET.Test.Sdk.
  src/Telemetry/Tests/Tests.csproj
  src/VisualStudioExtension/QSharpTestTemplate/TestProjectTemplate.xml.v.template
Owners: none

Updated src\QsCompiler\TestProjects\test5\test5.csproj.
  src/QsCompiler/TestProjects/test5/test5.csproj
Owners: @samarsha, @swernli

Upgraded src\QsCompiler\TestProjects\test10\test10.csproj.
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/Tests.LanguageServer/ProjectLoaderTests.cs
Owners: @samarsha, @swernli

CR changes and build fix (NuGet.Frameworks 6.2.2 stopped being supported at NuGet.org?).
  src/QsCompiler/LanguageServer/LanguageServer.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsCompiler/Tests.LanguageServer/Tests.LanguageServer.csproj
  src/QsFmt/App/App.fsproj
Owners: @samarsha, @swernli, @ScottCarda-MS

Upgraded Newtonsoft.Json dependency. (#1607)
  src/Documentation/Tests.DocGenerator/Tests.DocGenerator.csproj
  src/ProjectTemplates/Quantum.Test1/Quantum.Test1.csproj.v.template
  src/QsCompiler/LanguageServer/LanguageServer.csproj
  src/QsCompiler/TestProjects/test10/Driver.cs
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsCompiler/TestProjects/test5/test5.csproj
  src/QsCompiler/Tests.CSharpGeneration/Tests.CSharpGeneration.fsproj
  src/QsCompiler/Tests.Compiler/Tests.Compiler.fsproj
  src/QsCompiler/Tests.LanguageServer/ProjectLoaderTests.cs
  src/QsCompiler/Tests.LanguageServer/Tests.LanguageServer.csproj
  src/QsCompiler/Tests.RoslynWrapper/Tests.RoslynWrapper.fsproj
  src/QsFmt/App.Tests/App.Tests.fsproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QsFmt/App/App.fsproj
  src/QsFmt/Formatter.Tests/Formatter.Tests.fsproj
  src/Telemetry/Tests/Tests.csproj
  src/VSCodeExtension/templates/unittest/Test.csproj.v.template
  src/VisualStudioExtension/QSharpTestTemplate/TestProjectTemplate.xml.v.template
Owners: @samarsha, @swernli, @bettinaheim, @cesarzc, @ScottCarda-MS

Build 0.27.258160.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

update to 0.27.258160
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

move to net6.0 for language server tests
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
Owners: @samarsha, @swernli

update test
  src/QsCompiler/Tests.LanguageServer/ProjectLoaderTests.cs
Owners: @samarsha, @swernli

Migrated to LLVM 15.
  examples/QIR/Development/README.md
  examples/QIR/Optimization/README.md
Owners: @swernli, @bettinaheim

Build fix.
  llvm-build/llvm.cmake
  src/QsCompiler/BondSchemas/BondSchemas.csproj
Owners: @cesarzc

Suppressed the failure upon Com Gov alert.
  build/wrap-up.yml
Owners: none

Reverted unnecessary change.
  src/QsCompiler/BondSchemas/BondSchemas.csproj
Owners: @cesarzc

Build fix.
  llvm-build/libllvm.ps1
Owners: none

Update to 0.27.258160 (#1608)
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsCompiler/Tests.LanguageServer/ProjectLoaderTests.cs
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

Removed old resource estimator (csharp based)
  src/QsCompiler/CSharpGeneration/EntryPoint.fs
  src/QsCompiler/DataStructures/Diagnostics.fs
  src/QsCompiler/DataStructures/ReservedKeywords.fs
  src/QsCompiler/Tests.CSharpGeneration/Circuits/UnitTests.qs
  src/QsCompiler/Tests.Compiler/TestCases/LocalVerification.qs
Owners: @swernli, @bettinaheim, @samarsha, @cesarzc

Temporary updated driver settings to avoid multi-repo check-in
  src/QsCompiler/CSharpGeneration/EntryPoint.fs
Owners: @swernli, @bettinaheim

Updated unit test
  src/QsCompiler/Tests.CSharpGeneration/Circuits/UnitTests.qs
  src/QsCompiler/Tests.CSharpGeneration/Circuits/UnitTests.txt
Owners: @swernli, @bettinaheim

Upgraded packs that use string_decoder.
  src/VSCodeExtension/package-lock.json.v.template
Owners: none

Upgraded packs that use string_decoder. (#1612)
  src/VSCodeExtension/package-lock.json.v.template
Owners: none

Removing local resources estimator (#1611)
  src/QsCompiler/CSharpGeneration/EntryPoint.fs
  src/QsCompiler/DataStructures/Diagnostics.fs
  src/QsCompiler/DataStructures/ReservedKeywords.fs
  src/QsCompiler/Tests.CSharpGeneration/Circuits/UnitTests.qs
  src/QsCompiler/Tests.CSharpGeneration/Circuits/UnitTests.txt
  src/QsCompiler/Tests.Compiler/TestCases/LocalVerification.qs
Owners: @swernli, @bettinaheim, @samarsha, @cesarzc

Mark 'unspecified' uses.
  src/QsCompiler/CompilationManager/ProjectManager.cs
  src/QsCompiler/Compiler/RewriteSteps/ExternalRewriteStepsManager.cs
Owners: @samarsha, @cesarzc

Build 0.27.261157.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Build 0.27.261334.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Removed unused parameter in entry point driver settings
  src/QsCompiler/CSharpGeneration/EntryPoint.fs
  src/QsCompiler/TestTargets/Simulation/Example/Example.csproj
Owners: @swernli, @bettinaheim, @cesarzc

Removed test that no longer tests anything
  src/QsCompiler/Tests.Compiler/LocalVerificationTests.fs
  src/QsCompiler/Tests.Compiler/TestCases/LocalVerification.qs
Owners: @samarsha, @cesarzc

Build 0.27.261851.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Cleanup after removal of the resources estimator (#1613)
  src/QsCompiler/CSharpGeneration/EntryPoint.fs
  src/QsCompiler/TestTargets/Simulation/Example/Example.csproj
  src/QsCompiler/Tests.Compiler/LocalVerificationTests.fs
  src/QsCompiler/Tests.Compiler/TestCases/LocalVerification.qs
Owners: @swernli, @bettinaheim, @cesarzc, @samarsha

Build 0.27.262190.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

update bond to 11.0.0
  src/QsCompiler/BondSchemas/BondSchemas.csproj
Owners: @cesarzc

Build 0.28.263081.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

added nuget source
  NuGet.config
Owners: none

Revert "added nuget source"
  NuGet.config
Owners: none

.github/CODEOWNERS:

/src/QsCompiler/CommandLineTool @samarsha @cesarzc
/src/QsCompiler/CompilationManager @samarsha @cesarzc
/src/QsCompiler/Compiler @samarsha @cesarzc
/src/QsCompiler/Core @samarsha @cesarzc
/src/QsCompiler/DataStructures @samarsha @cesarzc
/src/QsCompiler/SyntaxProcessor @samarsha @cesarzc
/src/QsCompiler/Tests.Compiler @samarsha @cesarzc
/src/QsCompiler/TextProcessor @samarsha @cesarzc

/src/QsCompiler/Optimizations @samarsha

/src/QsCompiler/BondSchemas @cesarzc
/src/QsCompiler/TestTargets @swernli @cesarzc

/src/QsCompiler/LanguageServer @samarsha @swernli
/src/QsCompiler/TestProjects @samarsha @swernli
/src/QsCompiler/Tests.LanguageServer @samarsha @swernli

/examples/QIR @swernli @bettinaheim
/src/QsCompiler/CSharpGeneration @swernli @bettinaheim
/src/QsCompiler/LlvmBindings @swernli @bettinaheim
/src/QsCompiler/QirGeneration @swernli @bettinaheim
/src/QsCompiler/RoslynWrapper @swernli @bettinaheim
/src/QsCompiler/Tests.CSharpGeneration @swernli @bettinaheim
/src/QsCompiler/Tests.RoslynWrapper @swernli @bettinaheim
/src/QuantumSdk @swernli @bettinaheim

/src/QsCompiler/Transformations @samarsha @ScottCarda-MS
/src/QsFmt @ScottCarda-MS @samarsha
