Repository microsoft/qsharp-compiler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @samarsha, @cesarzc, @swernli, @ScottCarda-MS

.github/CODEOWNERS:

/src/QsCompiler/CommandLineTool @samarsha @cesarzc
/src/QsCompiler/CompilationManager @samarsha @cesarzc
/src/QsCompiler/Compiler @samarsha @cesarzc
/src/QsCompiler/Core @samarsha @cesarzc
/src/QsCompiler/DataStructures @samarsha @cesarzc
/src/QsCompiler/SyntaxProcessor @samarsha @cesarzc
/src/QsCompiler/Tests.Compiler @samarsha @cesarzc
/src/QsCompiler/TextProcessor @samarsha @cesarzc

/src/QsCompiler/Optimizations @samarsha

/src/QsCompiler/BondSchemas @cesarzc
/src/QsCompiler/TestTargets @swernli @cesarzc

/src/QsCompiler/LanguageServer @samarsha @swernli
/src/QsCompiler/TestProjects @samarsha @swernli
/src/QsCompiler/Tests.LanguageServer @samarsha @swernli

/examples/QIR @swernli
/src/QsCompiler/CSharpGeneration @swernli
/src/QsCompiler/LlvmBindings @swernli
/src/QsCompiler/QirGeneration @swernli
/src/QsCompiler/RoslynWrapper @swernli
/src/QsCompiler/Tests.CSharpGeneration @swernli
/src/QsCompiler/Tests.RoslynWrapper @swernli
/src/QuantumSdk @swernli

/src/QsCompiler/Transformations @samarsha @ScottCarda-MS
/src/QsFmt @ScottCarda-MS @samarsha

fantomas
  src/QsCompiler/SyntaxProcessor/ExpressionVerification.fs
Owners: @samarsha, @cesarzc

toResolvedExpr
  src/QsCompiler/SyntaxProcessor/ExpressionVerification.fs
Owners: @samarsha, @cesarzc

Update telemetry package
  src/VSCodeExtension/package-lock.json.v.template
  src/VSCodeExtension/package.json.v.template
  src/VSCodeExtension/src/telemetry.ts
Owners: none

Fix some typos found in the deep dark depths
  src/QsCompiler/DataStructures/SyntaxTree.fs
  src/QsCompiler/LanguageServer/LanguageServer.cs
Owners: @samarsha, @cesarzc, @swernli

Require (and allow) no namespace{}s in notebooks
  src/QsCompiler/CompilationManager/CompilationUnitManager.cs
  src/QsCompiler/CompilationManager/ContextBuilder.cs
  src/QsCompiler/CompilationManager/FileContentManager.cs
  src/QsCompiler/CompilationManager/ProjectManager.cs
  src/QsCompiler/DataStructures/ReservedKeywords.fs
  src/QsCompiler/LanguageServer/EditorState.cs
  src/QsCompiler/LanguageServer/LanguageServer.cs
  src/QsCompiler/SyntaxProcessor/ContextVerification.fs
Owners: @samarsha, @cesarzc, @swernli

Add tests for isNotebook flag handling in QsLanguageServer
  src/QsCompiler/LanguageServer/LanguageServer.cs
  src/QsCompiler/Tests.LanguageServer/TestSetup.cs
  src/QsCompiler/Tests.LanguageServer/TestUtils.cs
  src/QsCompiler/Tests.LanguageServer/Tests.cs
Owners: @samarsha, @swernli

Treat magic commands as comments
  src/QsCompiler/CompilationManager/DataStructures.cs
  src/QsCompiler/CompilationManager/FileContentManager.cs
  src/QsCompiler/CompilationManager/ScopeTracking.cs
Owners: @samarsha, @cesarzc

Add aznb.ps1 for testing with Azure Notebooks
  build/aznb.ps1
Owners: none

Add tests for notebook parsing changes
  src/QsCompiler/TestProjects/test18/Bell.qs
  src/QsCompiler/TestProjects/test18/Magic.qs
  src/QsCompiler/TestProjects/test18/README.md
  src/QsCompiler/TestProjects/test18/test18.csproj
  src/QsCompiler/Tests.Compiler/LocalVerificationTests.fs
  src/QsCompiler/Tests.Compiler/TestCases/StringParsingTests/StringParsing.qs
  src/QsCompiler/Tests.LanguageServer/TestSetup.cs
  src/QsCompiler/Tests.LanguageServer/TestUtils.cs
  src/QsCompiler/Tests.LanguageServer/Tests.cs
Owners: @samarsha, @swernli, @cesarzc

Trigger re-parse on edits above %magic command, add test
  src/QsCompiler/CompilationManager/FileContentManager.cs
  src/QsCompiler/CompilationManager/ScopeTracking.cs
  src/QsCompiler/Tests.LanguageServer/TestUtils.cs
  src/QsCompiler/Tests.LanguageServer/Tests.cs
Owners: @samarsha, @cesarzc, @swernli

Addressing PR Comments: Episode 1
  src/QsCompiler/CompilationManager/ProjectManager.cs
  src/QsCompiler/TestProjects/test18/test18.csproj
Owners: @samarsha, @cesarzc, @swernli

Update telemetry package (#1478)
  src/VSCodeExtension/package-lock.json.v.template
  src/VSCodeExtension/package.json.v.template
  src/VSCodeExtension/src/telemetry.ts
Owners: none

Fixed Issue with Range Slicing Bug (#1477)
  src/QsCompiler/SyntaxProcessor/ExpressionVerification.fs
  src/QsCompiler/Tests.Compiler/LocalVerificationTests.fs
  src/QsCompiler/Tests.Compiler/TestCases/LocalVerification.qs
Owners: @samarsha, @cesarzc

implements listing of locally submitted jobs and pulling of job results
  src/VSCodeExtension/package.json.v.template
  src/VSCodeExtension/resources/dark/refresh.svg
  src/VSCodeExtension/resources/dark/trash.svg
  src/VSCodeExtension/resources/light/refresh.svg
  src/VSCodeExtension/resources/light/trash.svg
  src/VSCodeExtension/src/commands.ts
  src/VSCodeExtension/src/extension.ts
  src/VSCodeExtension/src/hardwareConfigs.json
  src/VSCodeExtension/src/localSubmissionsProvider.ts
  src/VSCodeExtension/src/utils/excludedProviders.json
Owners: none

Update global.json
  global.json
Owners: none

Update package.json.v.template
  src/VSCodeExtension/package.json.v.template
Owners: none

Update package.json.v.template
  src/VSCodeExtension/package.json.v.template
Owners: none

remove optimization by target not provider
  src/VSCodeExtension/src/utils/excludedProviders.json
  src/VSCodeExtension/src/utils/excludedTargets.json
Owners: none

Update commands.ts
  src/VSCodeExtension/src/commands.ts
Owners: none

Output Recording will run for Microsoft Simulator
  src/QsCompiler/QirGeneration/CompilationSteps.cs
  src/QsCompiler/QirGeneration/RewriteSteps.cs
Owners: @swernli

Updating telemetry library version
  src/VisualStudioExtension/QSharpVsix/QSharpVsix.csproj
Owners: none

Remove `waitForInit` from LanguageServer
  src/QsCompiler/LanguageServer/LanguageServer.cs
Owners: @samarsha, @swernli

Update Newtonsoft version to 13.0.1
  src/QsCompiler/Tests.RoslynWrapper/Tests.RoslynWrapper.fsproj
  src/QsFmt/Formatter.Tests/Formatter.Tests.fsproj
  src/Telemetry/Library/Telemetry.csproj
Owners: @swernli, @ScottCarda-MS, @samarsha

Update aikey
  src/VSCodeExtension/package.json.v.template
Owners: none

Fix typo in change
  src/QsCompiler/Tests.RoslynWrapper/Tests.RoslynWrapper.fsproj
Owners: @swernli

Update source code to match the Visual Studio extension page in Marketplace
  src/VisualStudioExtension/README.md
Owners: none

Fix accidental word inclusion
  src/VisualStudioExtension/README.md
Owners: none
