Repository microsoft/qsharp-compiler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @samarsha, @cesarzc, @swernli, @bettinaheim, @ScottCarda-MS

Update QDK version to 0.28.263081
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

remove examples from the build script
  build/build.ps1
Owners: none

removed test projects from the solution
  QsCompiler.sln
Owners: none

Revert "removed test projects from the solution"
  QsCompiler.sln
Owners: none

Increase the recursion max depth default for deserialization.
  src/QsCompiler/BondSchemas/Protocols.cs
Owners: @cesarzc

Revert "remove examples from the build script"
  build/build.ps1
Owners: none

Update QDK version to 0.28.263081 (#1615)
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

Prevent GitHub from excluding the build/ directory
  .gitattributes
Owners: none

Prevent GitHub from excluding the build/ directory (#1616)
  .gitattributes
Owners: none

Replace generate Antlr files by msbuild task
  src/QsFmt/Parser/Parser.csproj
Owners: @ScottCarda-MS, @samarsha

Bump Antlr4BuildTasks
  src/QsFmt/Parser/Parser.csproj
Owners: @ScottCarda-MS, @samarsha

Bump Antlr4BuildTasks
  src/QsFmt/Parser/Parser.csproj
Owners: @ScottCarda-MS, @samarsha

Set AntlrToolJarDownloadDir
  src/QsFmt/Parser/Parser.csproj
Owners: @ScottCarda-MS, @samarsha

update npm yeoman packages
  src/VSCodeExtension/package-lock.json.v.template
  src/VSCodeExtension/package.json.v.template
Owners: none

Build 0.28.276173.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

0.28.277227
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

0.28.277227 (#1618)
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

add ms.author and fix date formatting for doc build warnings
  src/Documentation/DocumentationGenerator/DocumentationWriter.cs
Owners: none

Microsoft Quantum (public) -> 9af4e09e-a436-4aca-9559-2094cfe8d80c
  .github/workflows/qdk-sync.yml
  NuGet.config
Owners: none

qdk-sync.yml fix.
  .github/workflows/qdk-sync.yml
Owners: none

Fix metadata warnings for doc builds
  src/Documentation/DocumentationGenerator/DocumentationWriter.cs
Owners: none

Update DocumentationWriter.cs
  src/Documentation/DocumentationGenerator/DocumentationWriter.cs
Owners: none

Fixing CI (#1621)
  .github/workflows/qdk-sync.yml
  NuGet.config
Owners: none

Build 0.28.291394.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Fix metadata warnings for doc builds (authored by @Bradben, #1620).
  src/Documentation/DocumentationGenerator/DocumentationWriter.cs
Owners: none

Fix metadata warnings for doc builds (authored by @Bradben, #1620). (#1623)
  src/Documentation/DocumentationGenerator/DocumentationWriter.cs
Owners: none

NuGet.ProjectModel 6.2.2 -> 6.2.4
  src/QsCompiler/LanguageServer/LanguageServer.csproj
  src/QsFmt/App/App.fsproj
Owners: @samarsha, @swernli, @ScottCarda-MS

->0.28.291394
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

->0.28.291394 (#1624)
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

NuGet.ProjectModel 6.2.2 -> 6.2.4 (#1625)
  src/QsCompiler/LanguageServer/LanguageServer.csproj
  src/QsFmt/App/App.fsproj
Owners: @samarsha, @swernli, @ScottCarda-MS

Build 0.28.302312.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Build 0.28.302656.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Build 0.28.302812.
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @ScottCarda-MS, @samarsha

Update versions to 0.28.302812
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

Update versions to 0.28.302812 (#1628)
  examples/CompilerExtensions/CustomExtension/CustomExtension.csproj
  examples/CompilerExtensions/ExtensionPackage/CustomExtension.Package.nuspec
  examples/QIR/Optimization/Hello/Hello.csproj
  src/QsCompiler/TestProjects/test10/test10.csproj
  src/QsCompiler/TestProjects/test11/test11.csproj
  src/QsCompiler/TestProjects/test15/test15.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/OldApplication/OldApplication.csproj
  src/QsFmt/App.Tests/Examples/TestProjects/SimpleTestProject/QSharpTestProject1.csproj
  src/QuantumSdk/Sdk/Sdk.props
Owners: @swernli, @bettinaheim, @samarsha, @ScottCarda-MS

Update and rename dotnet-tools.json to dotnet-tools.jsonq
  .config/dotnet-tools.jsonq
Owners: none

Rename CODEOWNERS to CODEOWNERS.Q
  .github/CODEOWNERS.Q
Owners: none

Skip language server tests
  QsCompiler.sln
Owners: none

Update extension readme.
  src/VSCodeExtension/README.md
Owners: none

Update title for deprecation
  src/VSCodeExtension/package.json.v.template
Owners: none

.github/CODEOWNERS:

/src/QsCompiler/CommandLineTool @samarsha @cesarzc
/src/QsCompiler/CompilationManager @samarsha @cesarzc
/src/QsCompiler/Compiler @samarsha @cesarzc
/src/QsCompiler/Core @samarsha @cesarzc
/src/QsCompiler/DataStructures @samarsha @cesarzc
/src/QsCompiler/SyntaxProcessor @samarsha @cesarzc
/src/QsCompiler/Tests.Compiler @samarsha @cesarzc
/src/QsCompiler/TextProcessor @samarsha @cesarzc

/src/QsCompiler/Optimizations @samarsha

/src/QsCompiler/BondSchemas @cesarzc
/src/QsCompiler/TestTargets @swernli @cesarzc

/src/QsCompiler/LanguageServer @samarsha @swernli
/src/QsCompiler/TestProjects @samarsha @swernli
/src/QsCompiler/Tests.LanguageServer @samarsha @swernli

/examples/QIR @swernli @bettinaheim
/src/QsCompiler/CSharpGeneration @swernli @bettinaheim
/src/QsCompiler/LlvmBindings @swernli @bettinaheim
/src/QsCompiler/QirGeneration @swernli @bettinaheim
/src/QsCompiler/RoslynWrapper @swernli @bettinaheim
/src/QsCompiler/Tests.CSharpGeneration @swernli @bettinaheim
/src/QsCompiler/Tests.RoslynWrapper @swernli @bettinaheim
/src/QuantumSdk @swernli @bettinaheim

/src/QsCompiler/Transformations @samarsha @ScottCarda-MS
/src/QsFmt @ScottCarda-MS @samarsha
